@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.object {
  color: $mainTextColor;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: $mainBackgroundColor;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 50px;
  @include shadow;
  overflow: hidden;

  &:first-child {
    margin-top: 30px;
  }

  p {
    margin: 0;
    margin-left: 2%;
    margin-top: 1%;
  }

  p:first-child {
    font-size: 1.6em;
    font-weight: 900;
    padding-bottom: 5px;
    border-bottom: 2px solid lighten($mainTextColor, 60%);
    width: 90%;
  }
}

.image {
  user-select: none;
  overflow: hidden;
  width: 30%;
  height: 100%;
  border-radius: 40px 0 0 40px;
  img {
    object-fit: cover;
    object-position: center center;
    display: block;
    height: 100%;
    width: 100%;
  }
}
.info {
  width: 60%;
  height: 100%;
}
.options {
  width: 10%;
  height: 100%;
  border-radius: 0 40px 40px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > div {
    width: 100%;
    height: 20%;
    font-size: 2em;
    @include flexCenter;
    @include iconZoom;

    a {
      color: $mainTextColor;
    }

    > div {
      width: 50px;
      height: 50px;
      @include shadow;
      border-radius: 40% 0 40% 0;
    }
  }
}
