@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.objects {
  width: 70%;
  height: auto;
}

.loading {
  align-self: center;
  font-size: 50px;
  font-weight: 900;
}

.options {
  position: relative;
  background-color: $mainBackgroundColor;
  height: 80px;
  border-radius: 50px;
  @include shadow;
  margin: 30px 0;

  > div:first-child {
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include inputStyling;

    input {
      margin-left: 40px;
    }
  }

  > div:nth-child(2) {
    float: right;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    @include iconZoom;
  }
}

.sort {
  overflow: hidden;
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: $mainBackgroundColor;
  -webkit-box-shadow: 0px 0px 37px 4px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 0px 37px 4px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 0px 37px 4px rgba(34, 60, 80, 0.1);
  border-radius: 50px;
  top: 90px;
  right: 0;
  > div {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    &:not(:last-child) {
      border-bottom: 1px solid $mainBackgroundColor;
    }
  }
}
