@mixin shadow {
  -webkit-box-shadow: 0px 0px 31px 4px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 0px 0px 31px 4px rgba(34, 60, 80, 0.22);
  box-shadow: 0px 0px 31px 4px rgba(34, 60, 80, 0.22);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputStyling($h: 60%, $w: 80%) {
  input {
    height: $h;
    width: $w;
    font-size: 1.6em;
    background: rgba(34, 60, 80, 0);
    border: none;
    border-bottom: 2px solid lighten($mainTextColor, 60%);
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: $mainTextColor;
      opacity: 60%;
    }
  }
}

@mixin iconZoom {
  svg {
    transition: all 200ms ease;
  }

  svg:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 200ms ease;
  }
}

@mixin buttonStyling($h: 30%, $w: 60%) {
  button {
    cursor: pointer;
    font-size: 2em;
    font-weight: 900;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px;
    width: $w;
    height: $h;
    @include shadow;
    transition: all 200ms ease;

    &:hover {
      transform: scale(1.1);
      transition: all 200ms ease;
    }

    &:active {
      background-color: lighten($mainTextColor, $amount: 20%);
      color: $mainBackgroundColor;
    }
  }
}
